body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Spartan";
  src: url(Components/font/LeagueSpartan-VariableFont_wght.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 1111px;
  margin: 0 auto;
  
}
#root {
  position: relative;
}
.NaviWrapper {
  font-family: "Spartan";
  display: flex;
  justify-content: space-between;
}
.LogoDiv {
  display: flex;
  justify-content: center;
    align-items: center;
    gap: 20px;
}
.LogoDiv h2 {
  font-family: 'Jost';
  font-size: 25px;
  text-align: center;
}
.NaviLOGO {
  width: 24px;
  height: 24px;
}
ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
li:hover {
  text-decoration: underline;
}
.awardDiv {
  position: relative;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awardDiv img {
  width: 100%;
}
.awardWinningText {
  position: absolute;
  right: 45%;
}
.awardWinningSpan {
  font-family: 'Jost';
  width: 540px;
  height: 165px;
  font-size: 48px;
  color: #FFFFFF;
  
}
.awardWinningPara {
  font-family: 'Jost';
  margin-top: 50px;
  width: 445px;
  height: 78px;
  font-size: 16px;
  color: #FFFFFF;
}
.awardWinningButton {
  margin-top: 50px;
  width: 152px;
  height: 56px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  line-height: 21.68px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Jost'
}
.awardWinningButton:hover {
  background-color: rgb(175, 162, 162);
}
.Homecontainer {
  width: 1111px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DesignWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.twoPicDiv {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.Footercontainer {
  
  margin-top: auto;
  position: relative;
  width: 1440px;
  height: 393px;
  background-color: #1D1C1E;
  margin: 0 auto;
  color: white;
}
.Footercontainer .NaviWrapper {
  position: relative;
  top: 35%;
  margin-left: 10%;
  margin-right: 10%;
  transform: translateY(-50%);
  border-bottom: 1px solid #FFFFFF;
  justify-content: space-between;
  align-items: center;
}
footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  padding-bottom: 20px;
}
.StreetWrap {
  width: 50%;
  height: 100%;
  background-color: blue;
}
.FooterCentralOfficeDiv {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 78px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}
.FooterCentralOfficeDiv2 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 78px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}
.ContactUs {
  width: 200px;
  height: 78px;
  font-size: 16px;
  font-weight: 700;
}
.FooterBelowText {
  font-family: "jost";
  position: relative;
  top: 50%;
  width: 50%;
  left: 4%;
  display: flex;
  justify-content: space-around;
}
.FooterBelowNav {
  width: 200px;
  position: relative;
  left: 80%;
  top: 40%;
}
.PassionateDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}
.PassionateDiv img {
  width: 202px;
  height: 202px;
}
.PassionateDiv h3 {
  font-family: "Jost";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}
.PassionateDiv p {
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  text-align: Center;
 
}
.ExplanationWrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 300px;
}
.resourcefulDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}
.ressourcefulDiv img {
  width: 202px;
  height: 202px;
}

.resourcefulDiv h3 {
  font-family: "Jost";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}
.resourcefulDiv p {
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  text-align: Center;
 
}
.friendlyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}

.friendlyDiv img {
  width: 202px;
  height: 202px;
}

.friendlyDiv h3 {
  font-family: "Jost";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}
.friendlyDiv p {
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  text-align: Center;
 
}
.TalkAboutPageDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 292px;
  background-color: #E7816B;
  border-radius: 10px;
  font-family: "Jost";
}
.TalkABoutButton {
  width: 152px;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Jost";
  line-height: 21.68px;
  letter-spacing: 1px;
}
.TalkAboutPageDiv h2 {
  width: 268px;
  height: 98px;
  font-weight: 500;
  color: white;
  font-size: 40px;
  line-height: 40px;
}
.TalkAboutPageDiv p {
  width: 459px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.TalkAboutcontainer {
  width: 1111px;
  margin: 0 auto;
  position: absolute;
  bottom: 120%;
  left: 11.5%;
  transform: translateY(50%);
}

footer{
  position: absolute;
  right: 0;
  left: 0;
}

.DetailDiv {
  width: 100%;
  height: 326px;
  background-color: #FDF3F0;
  display: flex;
  justify-content: space-between;
  
}
.canadaDetails span{
  display:flex;
 font-family: "Jost";
 font-weight: 400;
 font-size: 16px;
 text-align:left;
 color: #333136;
}

.detailsSpan {
  align-items: center;
  margin-right: 200px;
  display: flex;
  gap: 100px;
}
.DetaWrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.DetaWrap h1 {
  color: #E7816B;
  font-family: "jost";
}
.DetaWrap {
  width: 730px;
  height: 326px;
  background-color: #FDF3F0;
  display: flex;
    align-items: start;
    justify-content: center;
}
.canadaDetails {
  display: flex;
  justify-content: space-between;
}

.mapsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 300px
}

.WebDesignDiv {
  width: 100%;
  height: 252px;
  background-color: #E7816B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.WebDesignDiv span {
  width: 450px;
  height: 52px;
  text-align: center;
  font-family: "Jost";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}
.WebDesignDiv h1 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
}
.DesignPageBlocks {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.DesignPageBlocks div{
  width: 350px;
  height: 478px;
  background-color: #FDF3F0;
}
.DesignPageBlocks div{
    text-align: center;

}
.DesignPageBlocks h3 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  color: #E7816B;
}
.DesignPageBlocks span {
  font-family: "Jost";
  font-size: 16px;
  line-height: 26px;
}
.DesignTwoPicDiv {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  margin-bottom: 400px;
}

.BigPic {
  width: 100%;
}

.BigPic  img{
  width: 100%;
}
.BigPiCText {
  width: 100%;
    position: absolute;
    bottom: 45%;
    text-align: center;
}
.designBigPicDiv {
  position: relative;
}
.BigPiCText h2 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: 1s all;
}
.BigPiCText h2:hover {
  color: #E7816B;
  transition: 1s all;
}
.BigPiCText span {
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 5px;
  color: #FFFFFF;
  transition: 1s all;
}
.BigPiCText span:hover {
  color: #E7816B;
  transition: 1s all;
  font-size: 20px;
}
.applePicDiv {
  width: 100%;
}
.applePicDiv img {
  width: 100%;
}
.ApplePicWrap {
  position: relative;
}
.applePicText {
  width: 100%;
  position: absolute;
  bottom: 35%;
  text-align: center;

}
.applePicText h2 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: white;
  transition: 1s all;
}
.applePicText h2:hover {
  color: #E7816B;
  transition: 1s all;
  
}
.applePicText span {
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 5px;
  color: white;
  transition: 1s all;
}
.applePicText span:hover {
  color: #E7816B;
  transition: 1s all;
  font-size: 20px;
}

.GrapicDesignText H2 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: white;
  transition: 1s all;
}
.GrapicDesignText h2:hover {
  transition: 1s all;
  color: #E7816B
}
.GrapicDesignText span {
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 5px;
  color: white;
  transition: 1s all;
  
}
.GrapicDesignText span:hover {
  transition: 1s all;
  color: #E7816B;
  font-size: 20px;
}
.GrapicDesignPic {
  width: 100%;
}
.GrapicDesignPic img {
  width: 100%;
}

.GrapicDesignPicwrap {
  position: relative;
}
.GrapicDesignText {
  width: 100%;
  position: absolute;
  bottom: 35%;
  text-align: center;

}
.GrapicDesignPageBlocksWrapper {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 200px;
}
.GrapicDesignPageBlocksWrapper div {
  width: 350px;
  height: 478px;
  background-color: #FDF3F0;
  border-radius: 20px;
  text-align: center;
}
.GrapicDesignPageBlocksWrapper div h2 {
  font-family: "Jost";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  color: #E7816B;
}
.GrapicDesignPageBlocksWrapper div span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 2%;
}
.GrapicDesignBorder {
  width: 100%;
  height: 252px;
  background-color: #E7816B;
  border-radius: 10px;
  text-align: center;
}
.GrapicDesignBorder div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GrapicDesignBorder h1 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}
.GrapicDesignBorder span {
  width: 350px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.MacDiv {
  width: 541px;
  height: 308px;
  border-radius: 10px;
}
.MacDiv img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}
.contactUsBlock {
  width: 100%;
  height: 480px;
  background-color: #E7816B;
  border-radius: 10px;
}
.contactUsText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contactUsText h1 {
  margin-right: 100px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.contactUsText p {
  width: 400px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 100px;
}
.contactUsBlock {
  display: flex;
}
.RegForm {
  width: 50%;
  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 50px;
  justify-content: center;
}
.form input {
  width: 80%;
  background-color: #E7816B;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  color: #FFFFFF;
}
.form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 50%;
  font-family: "Jost";
}
.message {
  padding: 5% 0 ;
}
.form button {
  width: 152px;
  height: 56px;
  border: none;
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1s all;
  
}
.form button:hover {
  color:#E7816B;
  background-color: rgb(117, 109, 109);
  transition: 1s all;
}